<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= link_to @play.song.title, @play.song %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @play.artist.name, @play.artist %>
</p>

<p>
  <strong>Stream:</strong>
  <%= link_to @play.stream.name, @play.stream %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @play.ratings.count %>
</p>

<p>
  <strong>Playtime:</strong>
  <%= @play.playtime %>
</p>

<p>
  <strong>Tweet ID:</strong>
  <%= @play.tweet_id %>
</p>

<%= link_to 'Back', plays_path %>
