<p id="notice"><%= notice %></p>

<p>
  <strong>Song:</strong>
  <%= link_to @play.song.title, @play.song %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @play.artist.name, @play.artist %>
</p>

<p>
  <strong>Ratings:</strong>
  <%= @play.ratings %>
</p>

<%= link_to 'Edit', edit_play_path(@play) %> |
<%= link_to 'Back', plays_path %>
