<%= form_with(model: stream) do |form| %>
  <% if stream.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(stream.errors.count, "error") %> prohibited this stream from being saved:</h2>

      <ul>
        <% stream.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :name, style: "display: block" %>
    <%= form.text_field :name %>
  </div>

  <div>
    <%= form.label :default_rating, style: "display: block" %>
    <%= form.text_field :default_rating %>
  </div>

  <div>
    <%= form.label :default_featured, "Include new songs automatically?", style: "display: block" %>
    <%= form.check_box :default_featured %>
  </div>

  <div>
    <%= form.label :mastodon_url, style: "display: block" %>
    <%= form.text_field :mastodon_url %>
  </div>

  <div>
    <%= form.label :mastodon_access_token, style: "display: block" %>
    <%= form.password_field :mastodon_access_token %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
