<p id="notice"><%= notice %></p>

<h1>Listing Requests</h1>

<table>
  <thead>
    <tr>
      <th>Twitter handle</th>
      <th>Song</th>
      <th>Requested at</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @requests.each do |request| %>
      <tr>
        <td><%= request.twitter_handle %></td>
        <td><%= request.song %></td>
        <td><%= request.requested_at %></td>
        <td><%= link_to 'Show', stream_request_path(request.stream, request) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

