<p id="notice"><%= notice %></p>

<p>
  <strong>Twitter handle:</strong>
  <%= @request.twitter_handle %>
</p>

<p>
  <strong>Song:</strong>
  <%= @request.song %>
</p>

<p>
  <strong>Requested at:</strong>
  <%= @request.requested_at %>
</p>

<%= link_to 'Back', requests_path %>
