<p id="notice"><%= notice %></p>

<p>
  <strong>Album:</strong>
  <%= link_to @song.album.title, @song.album if @song.album %>
</p>

<p>
  <strong>Artist:</strong>
  <%= link_to @song.artist.name, @song.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @song.title %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @song.sort %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @song.slug %>
</p>

<p>
  <strong>Track:</strong>
  <%= @song.track %>
</p>

<p>
  <strong>Time:</strong>
  <%= @song.time %>
</p>

<p>
  <strong>Live:</strong>
  <%= @song.live %>
</p>

<p>
  <strong>Remix:</strong>
  <%= @song.remix %>
</p>

<p>
  <strong>Year:</strong>
  <%= @song.year %>
</p>

<%= link_to 'Edit', edit_song_path(@song) %> |
<%= link_to 'Back', songs_path %>
