<p id="notice"><%= notice %></p>

<p>
  <strong>Play:</strong>
  <%= @rating.play %>
</p>

<p>
  <strong>Up:</strong>
  <%= @rating.up %>
</p>

<p>
  <strong>Twitter handle:</strong>
  <%= @rating.twitter_handle %>
</p>

<%= link_to 'Edit', edit_rating_path(@rating) %> |
<%= link_to 'Back', ratings_path %>
