<p id="notice"><%= notice %></p>

<h1>Listing Albums</h1>

<table>
  <thead>
    <tr>
      <th>Artist</th>
      <th>Title</th>
      <th>Sort</th>
      <th>Slug</th>
      <th>Tracks</th>
      <th>Id3 genre</th>
      <th>Record label</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @albums.each do |album| %>
      <tr>
        <td><%= link_to album.artist.name, album.artist %></td>
        <td><%= album.title %></td>
        <td><%= album.sort %></td>
        <td><%= album.slug %></td>
        <td><%= album.tracks %></td>
        <td><%= album.id3_genre %></td>
        <td><%= album.record_label %></td>
        <td><%= link_to 'Show', album %></td>
        <td><%= link_to 'Edit', edit_album_path(album) %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Album', new_album_path %>
