<p id="notice"><%= notice %></p>

<p>
  <strong>Artist:</strong>
  <%= link_to @album.artist.name, @album.artist %>
</p>

<p>
  <strong>Title:</strong>
  <%= @album.title %>
</p>

<p>
  <strong>Sort:</strong>
  <%= @album.sort %>
</p>

<p>
  <strong>Slug:</strong>
  <%= @album.slug %>
</p>

<p>
  <strong>Tracks:</strong>
  <%= @album.tracks %>
</p>

<p>
  <strong>Id3 genre:</strong>
  <%= @album.id3_genre %>
</p>

<p>
  <strong>Record label:</strong>
  <%= @album.record_label %>
</p>

<%= link_to 'Edit', edit_album_path(@album) %> |
<%= link_to 'Back', albums_path %>
