<div id="<%= dom_id chooser %>">
  <p>
    <strong>Song:</strong>
    <%= chooser.song_id %>
  </p>

  <p>
    <strong>Stream:</strong>
    <%= chooser.stream_id %>
  </p>

  <p>
    <strong>Featured:</strong>
    <%= chooser.featured %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= chooser.rating %>
  </p>

</div>
