<div id="<%= dom_id chooser %>">
  <p>
    <strong>Song:</strong>
    <%= link_to chooser.song.title, chooser.song %>
  </p>

  <p>
    <strong>Featured:</strong>
    <%= chooser.featured %>
  </p>

  <p>
    <strong>Rating:</strong>
    <%= chooser.rating %>
  </p>

  <%= form_for(:request, url: stream_requests_path(@stream)) do |f| %>
    <p class="actions">
      <%= f.hidden_field :song_id, value: chooser.song.id %>
      <%= f.submit "Request" %>
    </p>
  <% end %>

</div>
