<%= form_with(model: [chooser.stream, chooser]) do |form| %>
  <% if chooser.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(chooser.errors.count, "error") %> prohibited this chooser from being saved:</h2>

      <ul>
        <% chooser.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :featured, style: "display: block" %>
    <%= form.check_box :featured %>
  </div>

  <div>
    <%= form.label :rating, style: "display: block" %>
    <%= form.text_field :rating %>
  </div>

  <div>
    <%= form.submit %>
  </div>
<% end %>
